/* Fonts */

body{
font-family: "anisette-petite", sans-serif;
font-style: normal;
}

h1{
font-family: "anisette-petite", sans-serif;
font-style: normal;
font-weight: 300;
text-transform: uppercase;
}

h1 span{
font-family: "anisette-petite-sc", sans-serif;
font-style: blod;
font-weight: 700;
}

h2, h3{
font-family: "anisette-petite-sc", sans-serif;
}

p{
	font-size: 18px;
}


/* Zoning */

#conteneur
{
	display: flex;
    justify-content: flex-start;
}


@media screen and (max-width: 1024px){
#conteneur{
    flex-direction: column;
      height: auto;
}
}


header{
flex: 1;
background-color: #EBEBEB;
padding: 20px;
text-align: center;
}

article{
flex: 1;
padding: 20px;
}

footer{
	text-align: center;
	flex: 1;
	align-content: flex-end;
}


/*
width-min:375px;
min-width: 375px;
float: left;

text-align: center;
padding-top: 200px;
}

header section{
	width: 400px;
	margin: auto;
}

header{

width: 100%;
height: auto;
padding-top: 20px;
padding-bottom: 1px;
position: relative;
float: none;
}

article section{
width: 100%;
}
}


article section {
display: block;
width: 50%;
float: right;
}

article{
padding: 40px;
}
*/


/* HEADER */
header p{
	font-size: 78px;
	margin: 0;
}
header p span{
	color:yellow;
}