


/* Fonts */

h1{
font-family: anisette-std-petite-2, sans-serif;
font-style: normal;
font-weight: 300;
}

h1 span{

font-family: anisette-petite-sc, sans-serif;
font-style: normal;
font-weight: 500;

}


